*{
  color: white;
}

.signin{
  
  background-color: red;
  
}
.navbutton{
  margin-left: 10px;
  
}
.brand_icon{

 height: 25px!important;
 width: 25px!important;
  
}

@media only screen and (max-width: 991px) {


  .navbutton{
    margin-left: 10px;
    margin-top: 10px;
  }
}
